// Primary brand colors
$bcg-green--dark: #00532f;
$bcg-green: #177b57;
$bcg-green--blue-green: #3fad93;
$bcg-green--light:#32c77f;
$bcg-yellow: #e4ef39;

// Grayscale
$black: #000;
$gray--darkest: #333333;
$gray--darker: #707070;
$gray--dark: #b7b7b7;
$gray: #d9d9d9;
$gray--light: #f2f2f2;
$gray--lightest: #fafafa;
$white: #fff;
