{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, {"extensions": [".js"]}],
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0,
    "linebreak-style": 0,
    "function-paren-newline": 0,
    "comma-dangle": 0,
    "max-len": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"] // Must match NODE_PATH
      }
    }
  }
}