{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, {"extensions": [".js"]}],
    "jsx-a11y/anchor-is-valid": [ 2, {
      "components": [ "Link" ],
      "specialLink": [ "to" ]
    }],
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0,
    "linebreak-style": 0,
    "function-paren-newline": 0,
    "func-names": [1, "as-needed"],
    "comma-dangle": 0,
    "max-len": 0,
    "eol-last": 0
  },
  "overrides": [
    // Containers are not consumable components. Redux attaches many props from the store via mapStateToProps in
    // the connect() method. Since these props do not need to be explicitly added, they should not be validated
    // (programmer has no control over them and doesn't always know their shape). Avoids linters having a fit.
    // https://github.com/yannickcr/eslint-plugin-react/issues/553
    {
      "files": ["src/containers/**/*.js"],
      "rules": {
        "react/prop-types": false
      }
    }
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"] // Must match NODE_PATH
      }
    }
  },
  "parser": "babel-eslint"
}