{
  "extends": "stylelint-config-sass-guidelines",
  "rules": {
    "order/properties-alphabetical-order": null,
    "selector-max-id": 1,
    "color-hex-length": "long",
    "number-no-trailing-zeros": null,
    "selector-class-pattern": null,
    "color-hex-case": "upper",
    "no-missing-end-of-source-newline": null
  }
}