// Primary brand colors
$bcg-green--dark: #00532F;
$bcg-green: #177B57;
$bcg-green--blue-green: #3FAD93;
$bcg-green--light: #32C77F;
$bcg-yellow: #E4EF39;

// Grayscale
$black: #000000;
$gray--darkest: #333333;
$gray--darker: #707070;
$gray--dark: #B7B7B7;
$gray: #D9D9D9;
$gray--light: #F2F2F2;
$gray--lightest: #FAFAFA;
$white: #FFFFFF;
