@font-face {
    font-family: 'BCG-Henderson-Sans';
    src: url('../assets/fonts/HendersonBCGSans-Regular.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'BCG-Henderson-Sans';
    src: url('../assets/fonts/HendersonBCGSans-Light.woff') format('woff');
    font-weight: 300;
}

@font-face {
    font-family: 'BCG-Henderson-Sans';
    src: url('../assets/fonts/HendersonBCGSans-Thin.woff') format('woff');
    font-weight: 100;
}

@font-face {
    font-family: 'BCG-Henderson-Sans';
    src: url('../assets/fonts/HendersonBCGSans-Bold.woff') format('woff');
    font-weight: 700;
}

@font-face {
    font-family: 'BCG-Henderson-Serif';
    src: url('../assets/fonts/BCGHenSerifRegular.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'BCG-Henderson-Serif';
    src: url('../assets/fonts/BCGHenSerifBold.woff') format('woff');
    font-weight: 700;
}
