@import 'src/global-styles/responsive/utilities';
@import 'src/global-styles/responsive/variables';

@import 'src/global-styles/colors/variables';
@import 'src/global-styles/colors/declarations';

@import 'src/global-styles/typography/variables';

.ui.menu {
  border: 0;
  box-shadow: none;
}

.bcg-header {
  width: 100%;
  height: 56px;
  font-weight: bold;
  text-align: center;

  @media (max-width: map-get($grid-breakpoints, sm)) {
    height: 48px;
  }

  .logo {
    font-family: $font-family-sans;
    font-size: 2.8rem;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-brand-dark-green;
    color: $white;
    text-align: center;

    @media (max-width: map-get($grid-breakpoints, sm)) {
      width: 48px;
      height: 48px;
      font-size: 2.2rem;
    }
  }
}
