.ui.card {
  &.green {
    border-top: 4px solid #3fad93;
    box-shadow: none;
  }

  .practiceAreas {
    display: inline-block;
    color: #a9a9a9;
  }

  .matchPercentage {
    display: inline-block;
    color: #3fad93;
    float: right;
  }
}
