.header {
    position: fixed;
    display: flex;
    background-color: $color-bg-white;
    border-bottom: 1px solid $color-border-lighter;
    height: 56px;
    width: 100%;
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 100%;
    background-color: $color-bg-blue-green;
}

.header__logo-text {
    @extend %heading-extra-small-sans-bold;
    color: $color-typo-white;
}