@import 'src/global-styles/colors';
@import 'src/global-styles/responsive';

.page-header {
  width: 100%;
  height: 56px;
  font-weight: bold;
  text-align: center;

  @media (max-width: map-get($grid-breakpoints, sm)) {
    height: 48px;
  }

  .logo {
    font-family: 'BCG-Henderson-Sans';
    font-size: 2.8rem;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bcg-green--dark;
    color: $white;
    text-align: center;

    @media (max-width: map-get($grid-breakpoints, sm)) {
      width: 48px;
      height: 48px;
      font-size: 2.2rem;
    }
  }
}
