@import 'src/global-styles/colors';
@import 'src/global-styles/responsive';

$header-height: (
  md: 56px,
  sm: 48px
);

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: map-get($header-height, md);

  @media (max-width: map-get($grid-breakpoints, sm)) {
    height: map-get($header-height, sm);
  }

  .ui.menu {
    height: 100%;
  }

  .logo {
    height: 100%;
    width: map-get($header-height, md);

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $bcg-green--dark;

    color: $white;
    font-family: 'BCG-Henderson-Sans', sans-serif;
    font-size: 2.8rem;

    @media (max-width: map-get($grid-breakpoints, sm)) {
      width: map-get($header-height, sm);
      font-size: 2.2rem;
    }
  }
}
