html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: $font-family-serif;
  line-height: $type-line-height-default;
  color: $color-typo-darkest;
}

// ==========================================================
// Display typography declarations
// ==========================================================

%display-large-serif {
  @include make-type($display-large-font-config, $font-weight: $display-font-weight-bold);
}

.display-large-serif {
  @extend %display-large-serif;
}

%display-large-sans {
  @include make-type($display-large-font-config, $font-family: $font-family-sans, $font-weight: $display-font-weight-bold);
}

.display-large-sans {
  @extend %display-large-sans;
}

%display-regular-serif {
  @include make-type($display-regular-font-config, $font-weight: $display-font-weight-normal);
}

.display-regular-serif {
  @extend %display-regular-serif;
}

%display-regular-sans {
  @include make-type($display-regular-font-config, $font-family: $font-family-sans, $font-weight: $display-font-weight-normal);
}

.display-regular-sans {
  @extend %display-regular-sans;
}

// ==========================================================
// Heading typography declarations
// ==========================================================

// Heading large variations

%heading-large-serif-bold {
  @include make-type($heading-large-font-config, $font-weight: $heading-font-weight-bold);
}

.heading-large-serif-bold {
  @extend %heading-large-serif-bold;
}

%heading-large-serif-normal {
  @include make-type($heading-large-font-config);
}

.heading-large-serif-normal {
  @extend %heading-large-serif-normal;
}

%heading-large-sans-bold {
  @include make-type($heading-large-font-config, $font-family: $font-family-sans, $font-weight: $heading-font-weight-bold);
}

.heading-large-sans-bold {
  @extend %heading-large-sans-bold;
}

%heading-large-sans-normal {
  @include make-type($heading-large-font-config, $font-family: $font-family-sans, $font-weight: $heading-font-weight-normal);
}

.heading-large-sans-normal {
  @extend %heading-large-sans-normal;
}

%heading-large-sans-light {
  @include make-type($heading-large-font-config, $font-family: $font-family-sans, $font-weight: $heading-font-weight-light);
}

.heading-large-sans-light {
  @extend %heading-large-sans-light;
}

// Heading regular

%heading-regular-serif-bold {
  @include make-type($heading-regular-font-config, $font-weight: $heading-font-weight-bold);
}

.heading-regular-serif-bold {
  @extend %heading-regular-serif-bold;
}

%heading-regular-serif-normal {
  @include make-type($heading-regular-font-config);
}

.heading-regular-serif-normal {
  @extend %heading-regular-serif-normal;
}

%heading-regular-sans-bold {
  @include make-type($heading-regular-font-config, $font-family: $font-family-sans, $font-weight: $heading-font-weight-bold);
}

.heading-regular-sans-bold {
  @extend %heading-regular-sans-bold;
}

%heading-regular-sans-normal {
  @include make-type($heading-regular-font-config, $font-family: $font-family-sans, $font-weight: $heading-font-weight-normal);
}

.heading-regular-sans-normal {
  @extend %heading-regular-sans-normal;
}

%heading-regular-sans-light {
  @include make-type($heading-regular-font-config, $font-family: $font-family-sans, $font-weight: $heading-font-weight-light);
}

.heading-regular-sans-light {
  @extend %heading-regular-sans-light;
}

// Heading small

%heading-small-serif-bold {
  @include make-type($heading-small-font-config, $font-weight: $heading-font-weight-bold);
}

.heading-small-serif-bold {
  @extend %heading-small-serif-bold;
}

%heading-small-serif-normal {
  @include make-type($heading-small-font-config);
}

.heading-small-serif-normal {
  @extend %heading-small-serif-normal;
}

%heading-small-sans-bold {
  @include make-type($heading-small-font-config, $font-family: $font-family-sans, $font-weight: $heading-font-weight-bold);
}

.heading-small-sans-bold {
  @extend %heading-small-sans-bold;
}

%heading-small-sans-normal {
  @include make-type($heading-small-font-config, $font-family: $font-family-sans, $font-weight: $heading-font-weight-normal);
}

.heading-small-sans-normal {
  @extend %heading-small-sans-normal;
}

%heading-small-sans-light {
  @include make-type($heading-small-font-config, $font-family: $font-family-sans, $font-weight: $heading-font-weight-light);
}

.heading-small-sans-light {
  @extend %heading-small-sans-light;
}

// Heading extra small

%heading-extra-small-serif-bold {
  @include make-type($heading-extra-small-font-config, $font-weight: $heading-font-weight-bold);
}

.heading-extra-small-serif-bold {
  @extend %heading-extra-small-serif-bold;
}

%heading-extra-small-serif-normal {
  @include make-type($heading-extra-small-font-config);
}

.heading-extra-small-serif-normal {
  @extend %heading-extra-small-serif-normal;
}

%heading-extra-small-sans-bold {
  @include make-type($heading-extra-small-font-config, $font-family: $font-family-sans, $font-weight: $heading-font-weight-bold);
}

.heading-extra-small-sans-bold {
  @extend %heading-extra-small-sans-bold;
}

%heading-extra-small-sans-normal {
  @include make-type($heading-extra-small-font-config, $font-family: $font-family-sans, $font-weight: $heading-font-weight-normal);
}

.heading-extra-small-sans-normal {
  @extend %heading-extra-small-sans-normal;
}

%heading-extra-small-sans-light {
  @include make-type($heading-extra-small-font-config, $font-family: $font-family-sans, $font-weight: $heading-font-weight-light);
}

.heading-extra-small-sans-light {
  @extend %heading-extra-small-sans-light;
}

// ==========================================================
// Body typography declarations
// ==========================================================

// Body lead

%body-lead-bold {
  @include make-type($body-lead-font-config, $font-family: $font-family-sans, $font-weight: $body-font-weight-bold);
}

.body-lead-bold {
  @extend %body-lead-bold;
}

%body-lead-normal {
  @include make-type($body-lead-font-config, $font-family: $font-family-sans, $font-weight: $body-font-weight-regular);
}

.body-lead-normal {
  @extend %body-lead-normal;
}

%body-lead-light {
  @include make-type($body-lead-font-config, $font-family: $font-family-sans, $font-weight: $body-font-weight-light);
}

.body-lead-light {
  @extend %body-lead-light;
}

// Body large

%body-large-bold {
  @include make-type($body-large-font-config, $font-family: $font-family-sans, $font-weight: $body-font-weight-bold);
}

.body-large-bold {
  @extend %body-large-bold;
}

%body-large-normal {
  @include make-type($body-large-font-config, $font-family: $font-family-sans, $font-weight: $body-font-weight-regular);
}

.body-large-normal {
  @extend %body-large-normal;
}

%body-large-light {
  @include make-type($body-large-font-config, $font-family: $font-family-sans, $font-weight: $body-font-weight-light);
}

.body-large-light {
  @extend %body-large-light;
}

// Body regular

%body-regular-bold {
  @include make-type($body-regular-font-config, $font-family: $font-family-sans, $font-weight: $body-font-weight-bold);
}

.body-regular-bold {
  @extend %body-regular-bold;
}

%body-regular-normal {
  @include make-type($body-regular-font-config, $font-family: $font-family-sans, $font-weight: $body-font-weight-regular);
}

.body-regular-normal {
  @extend %body-regular-normal;
}

%body-regular-light {
  @include make-type($body-regular-font-config, $font-family: $font-family-sans, $font-weight: $body-font-weight-light);
}

.body-regular-light {
  @extend %body-regular-light;
}

// Body small

%body-small-bold {
  @include make-type($body-small-font-config, $font-family: $font-family-sans, $font-weight: $body-font-weight-bold);
}

.body-small-bold {
  @extend %body-small-bold;
}

%body-small-normal {
  @include make-type($body-small-font-config, $font-family: $font-family-sans, $font-weight: $body-font-weight-regular);
}

.body-small-normal {
  @extend %body-small-normal;
}

%body-small-light {
  @include make-type($body-small-font-config, $font-family: $font-family-sans, $font-weight: $body-font-weight-light);
}

.body-small-light {
  @extend %body-small-light;
}

// ==========================================================
// Label typography declarations
// ==========================================================

// Label regular

%label-regular-bold {
  @include make-type($label-regular-font-config, $font-family: $font-family-sans, $font-weight: $label-font-weight-bold);
}

.label-regular-bold {
  @extend %label-regular-bold;
}

%label-regular-bold-upper {
  @extend %label-regular-bold;
  text-transform: uppercase;
  letter-spacing: $label-regular-upper-letter-spacing;
}

.label-regular-bold-upper {
  @extend %label-regular-bold-upper;
}

%label-regular-normal {
  @include make-type($label-regular-font-config, $font-family: $font-family-sans, $font-weight: $label-font-weight-regular);
}

.label-regular-normal {
  @extend %label-regular-normal;
}

%label-regular-normal-upper {
  @extend %label-regular-normal;
  text-transform: uppercase;
  letter-spacing: $label-regular-upper-letter-spacing;
}

.label-regular-normal-upper {
  @extend %label-regular-normal-upper;
}

%label-regular-light {
  @include make-type($label-regular-font-config, $font-family: $font-family-sans, $font-weight: $label-font-weight-light);
}

.label-regular-light {
  @extend %label-regular-light;
}

%label-regular-light-upper {
  @extend %label-regular-light;
  text-transform: uppercase;
  letter-spacing: $label-regular-upper-letter-spacing;
}

.label-regular-light-upper {
  @extend %label-regular-light-upper;
}

// Label small

%label-small-bold {
  @include make-type($label-small-font-config, $font-family: $font-family-sans, $font-weight: $label-font-weight-bold);
}

.label-small-bold {
  @extend %label-small-bold;
}

%label-small-bold-upper {
  @extend %label-small-bold;
  text-transform: uppercase;
  letter-spacing: $label-small-upper-letter-spacing;
}

.label-small-bold-upper {
  @extend %label-small-bold-upper;
}

%label-small-normal {
  @include make-type($label-small-font-config, $font-family: $font-family-sans, $font-weight: $label-font-weight-regular);
}

.label-small-normal {
  @extend %label-small-normal;
}

%label-small-normal-upper {
  @extend %label-small-normal;
  text-transform: uppercase;
  letter-spacing: $label-small-upper-letter-spacing;
}

.label-small-normal-upper {
  @extend %label-small-normal-upper;
}

%label-small-light {
  @include make-type($label-small-font-config, $font-family: $font-family-sans, $font-weight: $label-font-weight-light);
}

.label-small-light {
  @extend %label-small-light;
}

%label-small-light-upper {
  @extend %label-small-light;
  text-transform: uppercase;
  letter-spacing: $label-small-upper-letter-spacing;
}

.label-small-light-upper {
  @extend %label-small-light-upper;
}

// Base text declarations

h1 {
  @extend %heading-large-serif-bold;
}

h2 {
  @extend %heading-large-sans-normal;
}

h3 {
  @extend %heading-regular-sans-normal;
}

h4 {
  @extend %heading-regular-serif-bold;
}

h5 {
  @extend %heading-small-serif-bold;
}

h6 {
  @extend %heading-small-sans-bold;
}

p,
ol,
ul,
li {
  @extend %body-regular-normal;
}
