@import 'src/global-styles/responsive';

.page {
  position: relative;
  height: 100%;

  header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    height: 56px;
    @media (max-width: map-get($grid-breakpoints, sm)) {
      height: 48px;
    }
  }

  main {
    height: 100%;
    width: 100%;

    padding-top: 56px;
    @media (max-width: map-get($grid-breakpoints, sm)) {
      padding-top: 48px;
    }
  }
}
