$icons-font-path: '../node_modules/semantic-ui-sass/icons';
$flags-image-path: '../node_modules/semantic-ui-sass/images';

@import '../node_modules/semantic-ui-sass/semantic-ui';
@import '../node_modules/reset-css/sass/reset';

@import 'global-styles/grid/variables';
@import 'global-styles/responsive/variables';

@import 'global-styles/colors/variables';
@import 'global-styles/colors/declarations';

@import 'global-styles/typography/utilities';
@import 'global-styles/typography/variables';
@import 'global-styles/typography/declarations';

body {
  background-color: $color-bg-lightest;
  font-size: 1.6rem;
  font-family: $font-family-serif;
  line-height: $type-line-height-default;
  color: $color-typo-darkest;
}

html {
  font-size: 62.5%;
}

h1 {
  @extend %heading-large-serif-bold;
}

h2 {
  @extend %heading-large-sans-normal;
}

h3 {
  @extend %heading-regular-sans-normal;
}

h4 {
  @extend %heading-regular-serif-bold;
}

h5 {
  @extend %heading-small-serif-bold;
}

h6 {
  @extend %heading-small-sans-bold;
}

p,
ol,
ul,
li {
  @extend %body-regular-normal;
}

#root {
  height: 100%;
}
