@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
  $min: map-get($breakpoints, $name);
  @return if($min != 0, $min, null);
}
@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}
@mixin make-type($font-config-map, $font-breakpoints: $grid-breakpoints, $font-family: $font-family-serif, $font-weight: 400) {
  @each $font-breakpoint, $font-config in $font-config-map {
    @include media-breakpoint-up($font-breakpoint) {
      font-family: $font-family;
      font-size: map-get(map-get($font-config-map, $font-breakpoint), 'font-size');
      font-weight: $font-weight;
      line-height: map-get(map-get($font-config-map, $font-breakpoint), 'line-height');
    }
  }
}
